:root {
    --black: #0a0a0a;
    --secondblack: #171321;
    --hotmag: #ff17e4;
    --cream: #F1F7ED;
    --yellow: #faa916;
    --maroon: #B33951;
    --red: #EB5160;
    --grey: #5b5a5d;
    --white: #ffffff;
    --font-size: 1.3rem;
    --space: 'Space Mono', monospace;
    --roboto: 'Roboto', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--roboto);
}

.highlight {
    color: var(--maroon);
    font-weight: 400;
    font-size: 18px;
}

.page-container {

    padding-top: 50px;
    margin: 0 auto;
    max-width: 1200px;  
    text-align: center;
    padding-bottom: 50px;

}

.note p {
    padding-top: 40px;
    font-size: 20px;
}

.page-container h1 {
    font-family: var(--roboto);
    padding-bottom: 30px;
    text-align: center;
}

.selection {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}


select, label {
    font-size: 20px;
    font-family: var(--roboto);
}

img {

    border-radius: 15px;
    height: 465px;
    width: 600px;
    margin: 0 auto;
    min-width: 100%;
    max-height: 100%;
}


.dog-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

span.breed-name {
    color: var(--red);
}


.breed-details ul {
    font-size: 20px;
    list-style-type: none;
    /* text-align: center; */
    display: block;
    columns: 2;
    
}

.breed-details ul li {
    padding-top: 15px;
}


@media (max-width: 768px) { 
    .dog-details {
        display: block;
        gap: 20px;
    }
    img {
        width: 365px;
        padding-bottom: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .page-container h1 {

        text-align: center;
        padding-bottom: 20px;
    }
}

.breed-info {
    color: var(--red);
}








